<div class="left card text-white bg-success mb-3">
  <div class="card-header" i18n="@@section1">Section</div>
  <div class="card-body">
    <a routerLink="/" i18n="@@home1">Home</a><br />
    <a routerLink="/s1">
      <fa-icon [icon]="faCat"></fa-icon>&nbsp;Simple Blog 1
    </a><br />
    <a routerLink="/s2">
      <fa-icon [icon]="faDog"></fa-icon>&nbsp;Simple Blog 2
    </a><br />
    <a routerLink="/s3">
      <fa-icon [icon]="faFish"></fa-icon>&nbsp;PC Component Shop
    </a><br />
  </div>
</div>
<div class="right card">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/" i18n="@@home1">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Simple Blog 1</li>
    </ol>
  </nav>
  <div class="card-body">
    <h1 class="card-title">
      <fa-icon [icon]="faCat"></fa-icon>&nbsp;The Simple Blog
    </h1>
    <hr />
    <h3>Blog Title 1</h3>
    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s, with the release of Letraset sheet containing Loren Ipsum
      passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.</p>
    <hr />
    <h3>Blog Title 2</h3>
    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s, with the release of Letraset sheet containing Loren Ipsum
      passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.</p>
  </div>
</div>